
<button class="btn btn-primary btn-sm"
type="button"
(click)="displayUpdateProfile()">
<i class="fa fa-plus me-1"></i> Update profile
</button>

<button class="btn btn-secondary btn-sm"
type="button"
(click)="displayConsumptionProfile()">
<i class="fa fa-plus me-1"></i> Update consumption
</button>

<div class="card">
    <div class="head">Profile </div>

    <ul>
      <li>Location: {{ userProfile.location }}</li>
      <li>Workplace: {{ userProfile.workplace }}</li>
      <li>Is Apartment: {{ userProfile.isApartment ? 'Yes' : 'No' }}</li>
      <li>Family Size: {{ userProfile.familySize }}</li>
    </ul>
  </div>

<div>

 <div class="card">
    <div style="display: block">
        <canvas baseChart
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [legend]="lineChartLegend"
                [type]="lineChartType">
        </canvas>
      </div>
</div>

  <!-- Update profile modal -->
<abp-modal [(visible)]="isModalOpen">
    <ng-template #abpHeader>
      <h3>Update profile</h3>
    </ng-template>
  
    <ng-template #abpBody>
        <form (ngSubmit)="updateProfile()" class="form-group">
            <div class="form-group">
              <label for="location">Location<span> *</span></label>
              <input type="text" id="location" class="form-control" name="location" [(ngModel)]="updateUserProfile.location" required>
            </div>
          
            <div class="form-group mt-2">
              <label for="workplace">Workplace<span> *</span></label>
              <input type="text" id="workplace" class="form-control" name="workplace" [(ngModel)]="updateUserProfile.workplace" required>
            </div>
          
            <div class="form-group mt-2">
              <label for="isApartment">Is Apartment</label>
              <input type="checkbox" id="isApartment" class="form-control" name="isApartment" [(ngModel)]="updateUserProfile.isApartment">
            </div>
          
            <div class="form-group mt-2">
              <label for="familySize">Family Size<span> *</span></label>
              <input type="number" id="familySize" class="form-control" name="familySize" [(ngModel)]="updateUserProfile.familySize" required>
            </div>
          
            <button type="submit" class="btn btn-primary">Update Profile</button>
          </form>
          
    </ng-template>
  
    <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" abpClose>
        {{ '::Close' | abpLocalization }}
      </button>
    </ng-template>
  </abp-modal>

    <!-- Add consumption data
<abp-modal [(visible)]="isConsumptionOpen">
    <ng-template #abpHeader>
      <h3>Add electric consumption</h3>
    </ng-template>
  
    <ng-template #abpBody>

        <form (ngSubmit)="saveConsumption()">
            <div *ngFor="let item of electricConsumption; let i = index" class="form-group">
              <label for="start{{i}}">Start Date</label>
              <input type="datetime-local" id="start{{i}}" class="form-control" name="startDate{{i}}" [(ngModel)]="item.startDate" required>
          
              <label for="end{{i}}">End Date</label>
              <input type="datetime-local" id="end{{i}}" class="form-control" name="endDate{{i}}" [(ngModel)]="item.endDate" required>
          
              <label for="energy{{i}}">Energy Consumed (kWh)</label>
              <input type="number" id="energy{{i}}" class="form-control" name="energy{{i}}" [(ngModel)]="item.energyConsumedInKwh" required>
            </div>
          
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
    </ng-template>
  
    <ng-template #abpFooter>
      <button type="button" class="btn btn-secondary" abpClose>
        {{ '::Close' | abpLocalization }}
      </button>
    </ng-template>
  </abp-modal> -->